* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.menu-container {
  padding 20px 0;
  display: flex;
  column-gap: 3em;
  object-fit:
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}


.banner, img{
  object-fit: contain;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
  font-family: Helvetica, Arial, Geneva,  sans-serif !important;
}


.navbar .navbar-collapse {
  text-align: center;
}

p,h1,h2 {
  font-family: Helvetica, Arial, Geneva,  sans-serif;
}

.btn-outline-success {
    color: rgba(0,0,0,.5);
    background-color: transparent;
    background-image: none;
    border-color:rgba(0,0,0,.5);
}

.index-page{
  padding:2em;
  display: flex;
  flex-wrap: wrap;
}
.index-page p{
  text-align: center;
  font-size: 1em;
  color: rgba(0,0,0,.5);
}


.featured-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:3em;
  gap:3em;
}

.feat-item{
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(0,0,0,.5);
  object-fit: contain;
  width: 40%;
}

.banner-text {
  position: relative;
  text-align: center;
  color: rgba(0,0,0,.5);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.footer-container {
  color: black;
  background-color: rgba(0,0,0,.5);
  padding: 1.5em;
  display: flex;
  column-gap: 3em;
  object-fit: contain;

  margin: 0 ;
  width: 100%;
  align-content: center;
  text-align: left;

}

.recipe-intro {
  border-radius: 25px;
  padding: 2em;
  display: flex;
  align-items: center;
  background-color: #c2c2c2;
  height: 16em;
  gap: 4em;
}

.pic {
  object-fit: contain;
  width: 25%;
  justify-content: center;
}

.description {
  font-size: 2.5em;
  font-family: Helvetica, Arial, Geneva,  sans-serif;
}

a {
    color: rgba(0,0,0,.5);
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: rgba(0,0,0,.5);
  text-decoration: none;
}

.ingredient-instructions {
  margin-top: 2em;
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 5em;
  margin-bottom: 2em;

}

.ingr-text {
  border-radius: 25px;
  background-color: #eeeeee;
  padding: 2.5em;

}

.ingr-pic {
  width: 40%;
  object-fit: contain;
}

.instructions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

.cooking-instruction {
  display:flex;
  flex-direction: row;
  margin-top: 1em;
  width:50%;
  padding: 1em;

}

.ci-text {
  width: 45%;
  text-align: left;
  font-size: 1em;

}

.ci-img {
  width: 30em;
  border-radius: 25px;
  object-fit: contain;

}

.portfolio {
  padding: 3em;
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

.image img {
  width: 100%;
}

.anim-desc {
  text-align: center;
  margin:1em;
}

.anim-page, .about-page {
  margin: 1.5em;
  justify-content: center;
  align-items: center;
}

.about-container {
  padding: 3em;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.box{
  padding:20px;
  border-radius:10px;
  color:rgba(0,0,0,.5);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:1em;
  font-family: Helvetica, Arial, Geneva,  sans-serif;
}



/* Mobile Styles */
@media only screen and (max-width: 401px) {

  .cooking-instruction {
    flex-direction: column;
    margin-top: 1em;
    padding: .5em;
  }

  .recipe-intro {
    border-radius: 25px;
    padding: 1em;
    flex-direction: column;
    background-color: #ffffff;
    height: auto;
    gap: 1em;
  }
  .description {
    justify-content: center;
    text-align: center;
  }

  .ci-text {
    width: 100%;
    text-align: left;
    font-size: 1em;

  }

  .ci-img {
    width: 100%;
    border-radius: 25px;
    object-fit: contain;

  }

  .description {
    font-size: 1em;
  }

  .portfolio {
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
  }




}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .index-page p{
    padding-left: 1em;
    text-align: center;
    font-size: 1.5em;
    color: rgba(0,0,0,.5);
  }

  .cooking-instruction {
    flex-direction: column;
    margin-top: 1em;
    padding: 1em;

  }

  .recipe-intro {
    border-radius: 25px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: auto;
    gap: 2em;
  }

  .description {
    justify-content: center;
    text-align: center;
  }

  .portfolio {
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
  }

  .ci-text {
    width: 100%;
    text-align: left;
    font-size: 1.5em;

  }

  .ci-img {
    width: 100%;
    border-radius: 25px;
    object-fit: contain;

  }





}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .index-page p{
    padding-left: 2em;
    text-align: center;
    font-size: 2em;
    color: rgba(0,0,0,.5);
  }
  .page {
    width: 960px;
    margin: 0 auto;
  }

}
